*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    height: 100%
}
body{
    background-image: url("../img/azzy.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

.header{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: right;
    padding-right: 1rem;

}
.main{
    height: 47.7rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.box-btn{
    margin-top: 10rem ;
    border: rgb(218, 169, 129) solid 4px;
    padding: 1rem;
    font-size: 2.5rem;
    color: rgb(218, 169, 129);
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
}

h1{
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(218, 169, 129);
}
h2{
    color: rgb(218, 169, 129);
}
img{
    width: 8vw;
}
li{
    color: white;
}


  